# Bikeshare Project

we will use Numpy and Pandas functions to analyse some data about bikeshare accross 3 US cities.

In [1]:
import numpy as np
import pandas as pd

## Chicago

### Popular times of travel
first we will read the files

In [2]:
Chicago = pd.read_csv("chicago.csv")

In [3]:
Chicago

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0
...,...,...,...,...,...,...,...,...,...
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0

In [4]:
Chicago["Start Time"] = pd.to_datetime(Chicago["Start Time"])

In [5]:
Chicago["End Time"] = pd.to_datetime(Chicago["End Time"])

In [6]:
Most_Common_Month = Chicago["Start Time"].dt.month.mode()

In [7]:
Most_Common_Month

0    6
dtype: int64

In [8]:
Most_Common_Month_Count = Chicago["Start Time"].dt.month.value_counts(sort = True)
print(Most_Common_Month_Count )
Most_Common_Month_Count = Most_Common_Month_Count.iloc[0]
print(Most_Common_Month_Count)

6    98081
5    66755
4    51659
2    32057
3    29639
1    21809
Name: Start Time, dtype: int64
98081

In [9]:
Most_common_day_of_week = Chicago["Start Time"].dt.dayofweek.mode()
print(Most_common_day_of_week)

0    1
dtype: int64

In [10]:
Most_common_day_of_week_count = Chicago["Start Time"].dt.dayofweek.value_counts()
print(Most_common_day_of_week_count)
Most_common_day_of_week_count = Most_common_day_of_week_count.iloc[0]
print(Most_common_day_of_week_count)

1    45912
0    44881
4    43922
3    43095
2    42530
5    40885
6    38775
Name: Start Time, dtype: int64
45912

In [11]:
Most_common_Hour = Chicago["Start Time"].dt.hour.mode()
print(Most_common_Hour)

0    17
dtype: int64

In [12]:
Most_common_Hour_count = Chicago["Start Time"].dt.hour.value_counts()
print(Most_common_Hour_count)
Most_common_Hour_count = Most_common_Hour_count.iloc[0]
print(Most_common_Hour_count)

17    35992
16    28742
8     24134
18    23512
15    20108
7     18380
14    17596
13    17559
12    17467
19    15715
11    15040
9     13691
10    11952
20    10301
6      8246
21     7103
22     4895
23     3014
5      2437
0      1686
1       982
2       609
4       467
3       372
Name: Start Time, dtype: int64
35992

***
### Popular stations and trips

In [13]:
Most_common_start_station = Chicago["Start Station"].mode()
print(Most_common_start_station)

0    Streeter Dr & Grand Ave
dtype: object

In [14]:
Most_common_start_station_count = Chicago["Start Station"].value_counts()
print(Most_common_start_station_count)
Most_common_start_station_count = Most_common_start_station_count.iloc[0]
print(Most_common_start_station_count)

Streeter Dr & Grand Ave         6911
Clinton St & Washington Blvd    4306
Lake Shore Dr & Monroe St       4289
Clinton St & Madison St         3744
Canal St & Adams St             3443
                                ...
Ellis Ave & 83rd St                1
Throop St & 52nd St                1
Laramie Ave & Kinzie St            1
Morgan St & Pershing Rd            1
Greenwood Ave & 79th St            1
Name: Start Station, Length: 568, dtype: int64
6911

In [15]:
Most_common_end_station = Chicago["End Station"].mode()
print(Most_common_end_station)

0    Streeter Dr & Grand Ave
dtype: object

In [16]:
Most_common_end_station_count = Chicago["End Station"].value_counts()
print(Most_common_end_station_count)
Most_common_end_station_count = Most_common_end_station_count.iloc[0]
print(Most_common_end_station_count)

Streeter Dr & Grand Ave         7512
Clinton St & Washington Blvd    4166
Lake Shore Dr & Monroe St       4016
Clinton St & Madison St         4014
Lake Shore Dr & North Blvd      3863
                                ...
Woodlawn Ave & 75th St             1
Perry Ave & 69th St                1
Racine Ave & 61st St               1
Halsted St & 51st St               1
Kostner Ave & Adams St             1
Name: End Station, Length: 572, dtype: int64
7512

In [17]:
most_start_finish = Chicago.groupby(["Start Station","End Station"]).size().idxmax()
print(most_start_finish)

('Lake Shore Dr & Monroe St', 'Streeter Dr & Grand Ave')

In [18]:
  Chicago[["Start Station","End Station"]].value_counts(sort=True)

Start Station                  End Station
Lake Shore Dr & Monroe St      Streeter Dr & Grand Ave         854
Streeter Dr & Grand Ave        Streeter Dr & Grand Ave         712
                               Theater on the Lake             561
                               Lake Shore Dr & North Blvd      538
                               Lake Shore Dr & Monroe St       526
                                                              ...
Lake Shore Dr & Diversey Pkwy  Ashland Ave & Lake St             1
                               Ashland Ave & Wrightwood Ave      1
                               Broadway & Granville Ave          1
                               Broadway & Sheridan Rd            1
2112 W Peterson Ave            2112 W Peterson Ave               1
Length: 47115, dtype: int64

In [19]:
most_start_finish_count =   Chicago[["Start Station","End Station"]].value_counts(sort=True).iloc[0]
print(most_start_finish_count)

854

***

### Trip duration

In [20]:
Total_Travel_Time = Chicago["Trip Duration"].sum()

In [21]:
Total_Travel_Time

280871787

In [22]:
Average_Travel_Time = Chicago["Trip Duration"].mean()

In [23]:
Average_Travel_Time

936.23929

***
### User info

In [24]:
User_Type_count = Chicago["User Type"].value_counts()

In [25]:
User_Type_count

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

In [26]:
Gender_count = Chicago["Gender"].value_counts()

In [27]:
Gender_count

Male      181190
Female     57758
Name: Gender, dtype: int64

In [28]:
most_common_birth_year = Chicago["Birth Year"].mode()
print(most_common_birth_year)

0    1989.0
dtype: float64

In [29]:
Chicago["Birth Year"].value_counts()

1989.0    14666
1988.0    12490
1991.0    12397
1990.0    12378
1987.0    11939
          ...
2002.0        2
1909.0        2
2003.0        2
1931.0        1
2004.0        1
Name: Birth Year, Length: 79, dtype: int64

In [30]:
most_common_birth_year_count = Chicago["Birth Year"].value_counts().iloc[0]
print(most_common_birth_year_count)

14666

In [31]:
Chicago = Chicago.sort_values(by = ["Start Time"],kind='heapsort',ascending=False)

In [32]:
Chicago

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
103455,1551500,2017-06-30 23:59:01,2017-07-01 00:08:41,580,Damen Ave & Division St,Halsted St & Blackhawk St (*),Subscriber,Male,1990.0
297429,1551497,2017-06-30 23:58:13,2017-07-01 00:24:22,1569,Southport Ave & Clybourn Ave,Spaulding Ave & Armitage Ave,Subscriber,Female,1989.0
217630,1551482,2017-06-30 23:53:16,2017-07-01 00:02:53,577,Wells St & Concord Ln,Theater on the Lake,Subscriber,Male,1986.0
287266,1551480,2017-06-30 23:53:05,2017-07-01 00:12:52,1187,Ellis Ave & 55th St,Cottage Grove Ave & 47th St,Subscriber,Male,1987.0
285748,1551484,2017-06-30 23:52:56,2017-07-01 00:03:48,652,Damen Ave & Clybourn Ave,Ashland Ave & Wrightwood Ave,Subscriber,Male,1991.0
...,...,...,...,...,...,...,...,...,...
266974,27,2017-01-01 00:35:26,2017-01-01 00:47:54,748,Larrabee St & Menomonee St,Clark St & Wrightwood Ave,Subscriber,Male,1990.0
279377,17,2017-01-01 00:27:21,2017-01-01 00:42:59,938,Millennium Park,Michigan Ave & 18th St,Subscriber,Male,1991.0
296013,15,2017-01-01 00:25:47,2017-01-01 00:43:23,1056,Clark St & Congress Pkwy,Wolcott Ave & Polk St,Subscriber,Male,1984.0
25190,10,2017-01-01 00:17:13,2017-01-01 11:03:34,38781,Wilton Ave & Diversey Pkwy,Halsted St & Wrightwood Ave,Subscriber,Female,1988.0
68107,4,2017-01-01 00:07:57,2017-01-01 00:20:53,776,Broadway & Barry Ave,Sedgwick St & North Ave,Subscriber,Male,1990.0

In [33]:
most_recent_year = Chicago.iloc[0,-1]
print(most_recent_year)

1990.0

***